body {
    font-family: sans-serif;
}


.container {
    margin: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 600px;
    vertical-align: center;
    background-image: url("/src/images/smile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: darkorange;
    -webkit-text-stroke: 1px black;
}

.containerJoke {
    margin: 40px;
    border: 3px solid lightseagreen;
    padding: 30px;
    width: 500px;
    border-radius: 50px;
    background-color: white;
    background-image: url(/src/images/shape.svg);
}

button {
    background-color: lightseagreen;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

.emoji {
    background-color: currentColor;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px;
    cursor: pointer;
}

.emoji:hover {
    border: 2px solid lightseagreen;
    background-color: currentColor;
    -webkit-transform: rotate(360deg);
    transition: 0.3s;
    border-radius: 100px;
    border: 5px double cyan;
    background-color: blueviolet;
}



.message {
    margin: 15px;
    padding: 20px;
    display: block;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
    font-weight: bold;
}

.voteHIdden {
    display: none;
}

.voteShow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.weather {
    display: flex;
    vertical-align: middle;
}

#celsius {
    padding-top: 15px;
    font-weight: bold;
}